<div class="row">
  <div class="col-xs-9">
    <h2 class="text-center">Reddit</h2>

    <div class="media center-block" ng-repeat="link in links track by $index">
      <div class="media-left">
        <a href="#">
          <img class="media-object" ng-src="{{link.category}}" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{link.url}}">{{link.title}}</a></h4>
        {{link.desc}} <span class="glyphicon glyphicon-trash pull-right" ng-click="deleteLink($index)"></span>
      </div>
    </div>          
  </div>
  <div class="col-xs-3">
    <h4 class="text-center">Sidebar</h4>
    <a class="btn btn-success center-block" ng-href="/#/new">
      <span class="glyphicon glyphicon-plus"></span>
      Add new link
    </a>
  </div>
</div>